---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="À propos"
	description="Page explicant qui je suis et quel est mon ikigai."
	pubDate={new Date('January 23 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<div>
		<h2>
			Qui suis-je ?
		</h2>
		<p>
			Bonjour, je m'appelle Vitor Pinto Da Silva. Actuellement, je poursuis mes études en ingénierie média à la <a href="https://heig-vd.ch/" style="text-decoration: none">HEIG-VD</a>. Le site internet que vous consultez est le fruit d'un projet scolaire visant à effectuer une veille technologique, guidée par notre ikigai.
		</p>
	</div>
	<div>
		<h2>
			Mon ikigai
		</h2>
		<p>
			<strong>Définition : </strong>
			L'ikigai est un concept japonais qui se traduit littéralement par "raison d'être" ou "raison de vivre". Il s'agit d'une philosophie de vie qui vise à trouver un équilibre entre différents aspects de l'existence pour atteindre un sentiment de plénitude et de satisfaction.
		</p>
		<h3>
			Résultats
		</h3>
		<p>
			Remplir mon ikigai s'est révélé plus difficile que prévu. L'exercice d'introspection nécessaire pour identifier ce que j'aime vraiment s'est avéré être plus complexe qu'il n'y paraît. <br><br>
			Pour parvenir à définir mon ikigai, j'ai pris en compte mes passions et intérêts actuels. C'est ainsi que j'ai identifié "le Design Éthique" comme mon ikigai.
		</p>
		<img src="/ikigai.png" alt="image représentant un ikigai">
	</div>
	<div>
		<h2>
			Le domaine
		</h2>
		<p>
			Mon intérêt pour le domaine du UX design m'a naturellement conduit à explorer le design éthique. Mais qu'est-ce que le design éthique exactement ? Il s'agit d'une méthode de conception de produits, services et systèmes centrée sur l'éthique et les valeurs humaines.<br><br>

			Ce qui m'a particulièrement attiré dans ce domaine, c'est un TedTalk sur le sujet, qui soulignait l'importance du respect des utilisateurs dans le design. Bien que je ne parvienne plus à retrouver cette conférence, son message a eu un impact profond sur moi. Aspirant à devenir UX designer dans un futur proche, je suis déterminé à contribuer à la création d'interfaces et d'expériences utilisateurs respectueuses et éthiques.
		</p>
	</div>
	<div>
		<h2>
			À propos du site web
		</h2>
		<p>
			Ce site web a été développé avec <a href="https://astro.build/" style="text-decoration: none">Astro</a>, un générateur de site statique (SSG) que j'ai choisi pour sa simplicité d'utilisation. L'installation d'Astro a été réalisée facilement grâce à une commande <span style="font-style: italic">npm</span>.
		</p>
		
		<h3>
			Choix du Template
		</h3>
		<p>
			Pour le template, j'ai opté pour le plus épuré, visant un design minimaliste. Mon objectif était de créer un site où le contenu prime sur l'esthétique, sans distractions telles que des couleurs vives ou des appels à l'action (CTA). La simplicité était primordiale. Heureusement, Astro offre un template de blog qui correspondait parfaitement à mes besoins.
		</p>
	</div>
</Layout>
