---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Design Éthique</h1>
			<p>
				Bienvenue sur mon blog consacré au design éthique.
			</p>
			<p>
				Ce blog a été créé dans le cadre d'un cours à la <a href="https://heig-vd.ch/" style="text-decoration: none">HEIG-VD</a>. L'objectif est de mettre en place un système de veille sur un sujet identifié comme étant au cœur de notre ikigai, et de rédiger des articles à ce sujet.
			</p>
			<p>
				Tout le contenu du site a donc été réalisé dans un contexte académique.
			</p>
		</main>
		<Footer />
	</body>
</html>
